
<div class="Cuerpo">
  <!--<br/>
  <br/>
  <br/>-->
  <!--<div class="registro">
    <%#= link_to "nuevo usuario", usuarios_path, class:"nuevouser" %>
  </div>

  <br/>

  <div class="iniciosesion">
    <%#= link_to "inicio sesion", users_new_path, class:"iniciosesion" %>
  </div>
-->
  <!--<br/>
  <br/>
  <br/>-->

  <div class="footer">
    <div class="logo">
      <img src="/images/logo.jpg" width="30%"/>
    </div>
    <div class="TituloFooter">SUIT OWL</div>
  </div>

</div>

