<div class="Fondo">
  <h1>Productos</h1>

  <div id="productos">
    <% @productos_usuario.each do |producto| %>
    <div class="Separar">
      <%= render producto %>
        <p>
          <%= link_to "Mostrar producto", producto %>
        </p>
    </div>
    <% end %>
  </div>

  <div class="Separar"><%= link_to "Subir para vender", new_producto_path %></div>
</div>
