<div id="<%= dom_id inicio_sesion %>">
  <p>
    <strong>Usuario:</strong>
    <%= inicio_sesion.usuario %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= inicio_sesion.password %>
  </p>

</div>
