<h1>Editing inicio sesion</h1>

<%= render "form", inicio_sesion: @inicio_sesion %>

<br>

<div>
  <%= link_to "Show this inicio sesion", @inicio_sesion %> |
  <%= link_to "Back to inicio sesions", inicio_sesions_path %>
</div>
